*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 100vw;
    height: 270vh;
}

section:nth-child(1){
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f0f;
}

section:nth-child(2){
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 90vh;
    left: 0;
    background-color: #808;
}

section:nth-child(3){
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 180vh;
    left: 0;
    background-color: #303;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    width: 35vw;
    height: 35vw;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.kvadrat{
    opacity: 0;
    transform: scaleY(50%) translateY(-10px);
    -webkit-transform: scaleY(50%) translateY(-10px);
    -ms-transform: scaleY(50%) translateY(-10px);
    transition: 0.8s cubic-bezier(0.82, 0, 0.18, 1);
    -webkit-transition: 0.8s cubic-bezier(0.82, 0, 0.18, 1);
    -ms-transition: 0.8s cubic-bezier(0.82, 0, 0.18, 1);
}

.scrollani{
    opacity: 1;
    transform: scaleY(100%) translateY(0px);
    -webkit-transform: scaleY(100%) translateY(0px);
    -ms-transform: scaleY(100%) translateY(0px);
    transition: 0.8s cubic-bezier(0.82, 0, 0.18, 1);
    -webkit-transition: 0.8s cubic-bezier(0.82, 0, 0.18, 1);
    -ms-transition: 0.8s cubic-bezier(0.82, 0, 0.18, 1);
}