@font-face {
  font-family: fontA;
  src: url(fontovi/Aeonik-Medium.ttf);
}


html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eaeaea; 
  display: flex;
  align-items: center;
  justify-content: center;
}
  

button{ 
    font-family: fontA;
    font-size: 16px;
    color:#efd7f4;
    background-color: #111;
    text-decoration: none; 
    border: none;
    padding: 8px;
    margin: 0;
    border-radius: 3px;
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button:hover{
    background-color:#efd7f4;
    color: #111;
    transition: .2s;
}

p{
  
  font-family: fontA;
  font-size: 16px;
  color:#111; 
  text-decoration: none; 
  border: none;
  padding: 0px;
  margin: 0;
  border-radius: 3px;
  transition: .2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input{
  background: #efd7f4;
  color: #111;
  height: 15px;
  width: 150px;
} 
 
 
/* Styles the whole slider */
.mojSlider{
  width: 150px;
  background-color: transparent; 
  -webkit-appearance: none;
}


/* These styles affect what happens when the cursor is focused on the slider (i.e. clicking it) */
.mojSlider:focus {
  
  /* Stops the default outline showing up */
  outline-color: #f11;
  outline-width: 3px;
  outline: none;
}
 
.mojSlider::-webkit-slider-runnable-track {
  background: black;
  height: 3px;
  -webkit-appearance: none;
   
  cursor: pointer;
  
}

/* This is the moveable bit of the slider, known as the "thumb"*/
.mojSlider::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  background: #efd7f4; 
  cursor: pointer;
  -webkit-appearance: none;
   
  margin-top: -12px;
  outline: red;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  border-color:#111;
}


