:root {
    --kanvas: 40vw; 
  }

  @media screen and (max-width: 800px){
    :root {
        --kanvas: 75vw; 
      }
  }


@font-face {
    font-family: myFont;
    src: url(fontovi/font1.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: myFont1;
    font-weight: normal;
    overflow-x: hidden;
}

.naslovna{
    background-color: #efefef;
}

h1, h2, h3{
    font-family: myFont;
    max-width: var(--kanvas);
}

#pozadina{
    width: 100vw;
    height: 100vh;
} 
#preko-pozadine{
    position: absolute;
    left: 0;
    top: 0;    
    width: 100vw;
    transform: scale(0.7) translateY(-90px);
}

.tekst-gore{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 2vh;   
    width: 82%;
    margin-left: 9%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tekst-gore-link{
    margin: 0;
    padding: 0;
    font-size: 1.8vw;
    font-family: myFont;
    color: #ff5000;
    text-decoration: none; 
}







.tekst-dolje{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 2vh;    
    width: 82%;
    margin-left: 9%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.tekst-dolje-obican{
    margin: 0;
    padding: 0;
    font-size: 1.8vw;
    font-family: myFont;
    color: #ff5000;
    text-decoration: none; 
}


.pocetak{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-top: 3vh;
}
 

body{
    width: 100vw; 
    background-color: #efefef;
}

.sredina{
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    margin-bottom: 3vh;
}

.prvi{
    margin-top: 3vh;
}
.drugi{
    margin-top: 6vh;
}

.slika{
    max-width: var(--kanvas);
}
 
.item-1{ 
    opacity: 0;
    transform: translateX(30px);  
}
.item-2{ 
    opacity: 0; 
}

.scroll-1{ 
    opacity: 1;
    transform: translateX(0px); 
    transition: 0.8s cubic-bezier(0.8, 0, 0.2, 1); 
}


.scroll-2{ 
    opacity: 1;
    transform: translateX(0px); 
    transition: 1.8s cubic-bezier(0.8, 0, 0.2, 1); 
}

.item-0{
    opacity: 0;
}

.scroll-0{
    opacity: 1;
    transition: 1.8s cubic-bezier(0.8, 0, 0.2, 1); 
}

.giph{
    width: 300px;
}