*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 100vw;
    height: 270vh;
}

section:nth-child(1){
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #033;
}

section:nth-child(2){
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 90vh;
    left: 0;
    background-color: #088;
}

section:nth-child(3){
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 180vh;
    left: 0;
    background-color: #333;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    width: 35vw;
    height: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.kvadrat{background-color: white;}








































.kvadrat{
    transform: scaleY(50%);
    -webkit-transform: scaleY(50%);

    transition: 0.8s cubic-bezier(0.82, 0, 0.18, 1);
    -webkit-transition: 0.8s cubic-bezier(0.82, 0, 0.18, 1);
}

.scrollani{
    transform: scaleY(100%);
    -webkit-transform: scaleY(100%);

    transition: 0.8s cubic-bezier(0.82, 0, 0.18, 1);
    -webkit-transition: 0.8s cubic-bezier(0.82, 0, 0.18, 1);
}
