@font-face {
    font-family: fontic;
    src: url(../fontovi/Carmine.ttf);
    src: url(../fontovi/NeueMontreal-Medium.otf);
  }
  @font-face {
    font-family: fontic2;
    src: url(../fontovi/AtHaussMono-Regular.otf);
  }
   
  @font-face {
    font-family: fontic2a;
    src: url(../fontovi/Goolangola-Bold.otf);
  }
   
  @font-face {
    font-family: fontic2b;
    src: url(../fontovi/Novoposelensky.otf);
  }
   
  @font-face {
    font-family: fontic2c;
    src: url(../fontovi/Sacco-SemBdCondObliq.ttf);
  }
    
  @font-face {
    font-family: fontic2d;
    src: url(../fontovi/Hitmo2.0-Black.ttf);
    src: url(../fontovi/ABCArizonaFlareVariable-Trial.ttf); 
  }
  @font-face {
    font-family: fontic2e; 
    src: url(../fontovi/ABCArizonaFlareVariable-Trial.ttf);  
  }
    
  @font-face {
    font-family: fontic3;
    src: url(../fontovi/ABCArizonaFlareVariable-Trial.ttf); 
    src: url(../fontovi/ABCMarfaVariable-Trial.ttf);
    src: url(../fontovi/ABCMarfa-Regular-Trial.otf);
    src: url(../fontovi/ABCMaxiRoundMono-Regular-Trial.otf);
  }
  @font-face {
    font-family: fontic4a;
    src: url(../fontovi/ABCEstragonVariable-Trial.ttf);  
  }
    
  @font-face {
    font-family: fontic4b;
    src: url(../fontovi/ABCProphetVariable-Trial.ttf);  
  }
    
  @font-face {
    font-family: fontic4c;
    src: url(../fontovi/ABCSimonMonoVariable-Trial.ttf);  
  }
  @font-face {
    font-family: fontic4d;
    src: url(../fontovi/Migha-Regular.otf);  
    src: url(../fontovi/AtHaussMono-Air.otf);  
  }
  @keyframes reveal1 {
    0%{height: 0px;} 
    10%{height: 80px;} 
    100% {height: 0px;}
  }
  @keyframes reveal2 {
    0%{height: 0px;} 
    20%{height: 80px;}
    100% {height: 0px;}
  }
  @keyframes reveal3 {
    0%{height: 0px;} 
    30%{height: 80px;}
    100% {height: 0px;}
  }
  @keyframes reveal4 {
    0%{height: 0px;} 
    31%{height: 80px;}
    100% {height: 0px;}
  }
  @keyframes reveal5 {
    0%{height: 0px;} 
    33%{height: 80px;}
    100% {height: 0px;}
  }
    
  @keyframes okScale{
    0%{transform: scale(100%);}
    30%{transform: scale(105%);}
    100%{transform: scale(100%);}
  }

  *, body{ 
    margin: 0;
    padding: 0;
    background-color: #0a0;
    background-color: #fff;
    font-weight: normal;
    font-weight: bold;
    font-size: 50px;
  }
 body{
    overflow: hidden; 
}
 
  .ok2{
    background-color: #0000;
    width: 70vw;
    height: 120px;
    position: absolute;
    top: 80px; 
    z-index: 1;
} 
.vivid1, .vivid2, .vivid3, .vivid4, .vivid5{ 
  position: absolute;
  top: 80px; 
  left: 0;
  background-color: #fff;
  width: 70vw;
  height: 120px;
  z-index: 4; 
}
.v1, .v2, .v3, .v4, .v5{
  
  animation-timing-function: cubic-bezier(.6,.01,0.4,1);

}
.v1{
  animation: reveal1 2s; 
  height: 0px; 
}
 
.v2{
  animation: reveal2 2s;
  height: 0px; 
}
.v3{
  animation: reveal3 2s;
  height: 0px; 
}
.v4{
  animation: reveal4 2.1s;
  height: 0px; 
}
.v5{
  animation: reveal5 2.1s;
  height: 0px; 
}





.ok{
    background-color: #0000;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 80px; 
    left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    z-index: 0;
}

.prvi, .drugi{ 
    background-color: #0000;
    z-index: 2;
    font-size: 90px;
    transition: 0.3s;
    color: black;
}

 
      

.drugi{
    width: 0.01px;
    height: 330px;
    
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
    
}

.treci{
    background-color: #0000;
    z-index: 2;
    font-size: 90px;
    transition: 0.3s;
    color: black;  
    
} 

   



 

.ok2:hover{
    cursor: pointer;
} 
 

.ok2:hover ~ .ok .treci{
    transform: translateX(0px);
    transition: 0.3s;
}

.ok2:hover ~ .ok .drugi{
    width: 90px;
    transition: 0.3s; 
}

                                    
                    .ok2:hover ~ .ok .fotka1{ 
                        margin-right: 8px;
                        margin-left: 8px;
                        opacity: 100%;
                        transition: 0.3s;
                    }
       
                    .ok2:hover ~ .ok .fotka2{
                        margin-right: 8px;
                        margin-left: 8px;
                        opacity: 100%;
                        transition: 0.3s;
                    }
       
                    .ok2:hover ~ .ok .fotka3{ 
                        margin-right: 8px;
                        margin-left: 8px;
                        opacity: 100%;
                        transition: 0.3s;
                    }
 

                    
 



.oklop{
    transform: translateY(-50px);
    display: flex;
    flex-direction: column;
    justify-content: start;
}


#o1{font-family: fontic;
  transform: translateY(10px);}
#o2{font-family: fontic3;
  transform: translateY(130px);}
#o3{font-family: fontic4b;
  transform: translateY(250px);}
  
#o4{font-family: fontic4d;
  transform: translateY(370px);}
#o5{font-family: fontic2e; 
  transform: translateY(490px);}

#o1 .prvi{
    text-indent: 80px;

}

#o2 .prvi{
    text-indent: 240px;
}

#o3 .prvi{
    text-indent: 1px;
}
 
#o4 .prvi{
    text-indent: 340px;
}
 
#o5 .prvi{
    text-indent: 260px;
}
 
#o4 .ok2{background-color: #0000;}
 
img{ 
    width: 70px;
    height: 60px;  
}

.fotka1, .fotka2, .fotka3{
    margin-right: 5px;
    margin-left: 5px;
    transition: 0.3s;
    opacity: 100%;
}

.iznad{
  width: 100vw;
  height: 1px; 
  background-color: #f11;
  position: absolute;
  top: 100px;
  left: 0vw;
  transform: translateY(-540px); 
}

#o5{z-index: -1;}
.btn{
  text-decoration: none; 
  width: 70%;
  height: 0.01px;
  height: 120px;
  background-color: #0000;
  position: absolute;
  top: 100px;
  left: 0vw;
  transform: translateY(0px); 
  z-index: 3;
  transition: 1s;
  transition-delay: 3s;
}
 
.btn:active ~ .iznad{ 
  height: 110vh; 
  transition: 1s;

}

 
 

.slide:hover,
.slide:focus {
  box-shadow: inset 8.5em 0 0 0 black;
}

 
a { 
  text-decoration: none;
  transition-timing-function: ease-in;
  transition: 0.25s;
}
a:hover, a:focus { 
  color: #fff; 
  transition: 0.55s;
}
 
.slide2{ 
  text-decoration: none;
  transition-timing-function: ease-in;
  transition: 0.4s;
}
.slide2:hover, .slide2:focus { 
  color: #fff; 
  transition: 0.9s;
}
 
.slide3{ 
  text-decoration: none;
  transition-timing-function: ease-in;
  transition: 0.55s;
}
.slide3:hover, .slide3:focus { 
  color: #fff; 
  transition: 1.2s;
}
 
 
 
  

a{text-decoration: none; color:black;background-color: #0000;}


.ycenter{
  position: absolute;
  text-align: left;
  left: 48vw;
  top: 5px;
  text-decoration: none;
  font-family: fontic;  
  font-size: 14px;
  z-index: 3;
}

.ygrid{
  text-align: left; 
  text-decoration: none;
  height: fit-content;
  padding: 0px 10px; 
  margin-top: 5px;
  color: black;
  font-family: fontic;
  background-color: #0000;
  font-size: 14px; 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 20px);
}

.pL{text-align: left;}
.pC{text-align: center;}
.pR{text-align: right;}
 
.ygrid11, .ygrid12, .ygrid13, .ygrid14, .ygrid21, .ygrid22, .ygrid23, .ygrid24{
  background-color: #0000;
  z-index: 3;
}

.yesLinks, .nonLinks{
  margin-top: 0;
  background-color: #0000;
  font-size: 14px;
}
.ygrid12{ 
  background-color: #0000;
  display: flex;
  flex-direction: row; 
  justify-content: start;
}

.ygrid21{
  display: flex;
  flex-direction: row;
  width: 75px;
  justify-content: space-between;
}

.yesLinks{ 
  background-color: #0000;
} 
.naslovC{
  position: absolute;
  width: 100vw;
  text-align: center;
  left: 0vw;
  height: 20px;
  top: 5px;
  color: black;
  font-family: fontic; 
  font-size: 14px;
  z-index: 3;
  background-color: #0000;
}

.divota{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
top: 0vh;
transition: all 2s;
}

.ee{
  top: 100vh;
  transition: all 2s;
}

.ok{
  transform: scale(100%);
  animation: okScale 1s;
  animation-timing-function: cubic-bezier(.6,.01,0.4,1);
}