@font-face {
    font-family: fontic1;
    src: url(../fontovi/NeueMontreal-Medium.otf);  
  }

  @font-face {
    font-family: fontic;
    src: url(../fontovi/Aeonik-Medium.ttf);
  }

  @font-face {
    font-family: fonticN;
    src: url(../fontovi/Doppelganger\ Display.otf);  
    src: url(../fontovi/Carmine.ttf);  
  }
  @keyframes naslov{
    0%{height: 135px;}
    100%{height: 0px;}
  } 
  @keyframes slikeC{
    0%{height: 130px;opacity:0;} 
    40%{height: 130px;opacity:0;} 
    100%{height: 300px;opacity:1;}
  }
  @keyframes slikeC1{
    0%{height: 130px;opacity:0;} 
    40%{height: 130px;opacity:0;} 
    100%{height: 300px;opacity:1;}
  }
  @keyframes slikeC2{
    0%{height: 130px;opacity:0;} 
    40%{height: 130px;opacity:0;} 
    100%{height: 300px;opacity:1;}
  }
  @keyframes slikeC3{
    0%{height: 130px;opacity:0;} 
    40%{height: 130px;opacity:0;} 
    100%{height: 300px;opacity:1;}
  }
  @keyframes lijevo{
    0%{transform: translateX(-100px);opacity:0;} 
    100%{transform: translateX(0px);opacity:1;}
  }
  @keyframes gore{
    0%{transform: translateY(-50px);opacity:0;} 
    100%{transform: translateY(0px);opacity:1;}
  }

  body{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #503016;
    background-color: #28392a;
    background-color: #375d71;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slide-container { 
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
}

.image-slider{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slides-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
}

.img{
    position: relative; 
    width: 300px;
    height: 300px;
    top: 145px;
    transition: 0.5s; 
    opacity: 1;
}

#img4{
    animation: slikeC 1.5s;
    animation-timing-function: cubic-bezier(.8,0,.2,1);
}
#img3, #img5{
    animation: slikeC1 1.8s;
    animation-timing-function: cubic-bezier(.8,0,.2,1);
}
#img2, #img6{
    animation: slikeC2 2.0s;
    animation-timing-function: cubic-bezier(.8,0,.2,1);
}
#img1, #img7{
    animation: slikeC2 2.1s;
    animation-timing-function: cubic-bezier(.8,0,.2,1);
}

.button {
    margin-top: 225px;
    position: absolute; 
    width: 300px;
    height: 300px;
    transition: 0.5s;
    background-color: transparent; 
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~.image-slider #button-1{
    
    width: 300px;
    height: 300px;
    background-color: transparent;  
}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~.image-slider #button-2{
    
    width: 300px;
    height: 300px;
    background-color: transparent;  
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~.image-slider #button-3{
    
    width: 300px;
    height: 300px;
    background-color: transparent;  
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~.image-slider #button-4{
    
    width: 300px;
    height: 300px;
    background-color: transparent;  
}
#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~.image-slider #button-5{
    
    width: 300px;
    height: 300px;
    background-color: transparent;  
}
#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~.image-slider #button-6{
    
    width: 300px;
    height: 300px;
    background-color: transparent;  
}
#slider-span7:target ~ .image-slider #img7,
#slider-span7:target ~.image-slider #button-7{
    
    width: 300px;
    height: 300px;
    background-color: transparent;  
} 


#slider-span1:target ~.image-slider{ 
    left:1200px;
}
#slider-span2:target ~.image-slider{ 
    left:800px;
}
#slider-span3:target ~.image-slider{ 
    left:400px;
}
#slider-span4:target ~.image-slider{
    left:0px;
}
#slider-span5:target ~.image-slider{ 
    left:-400px;
} 
#slider-span6:target ~.image-slider{ 
    left:-800px;
}
#slider-span7:target ~.image-slider{ 
    left:-1200px;
}  
  
 p{
    font-family: fontic;
    font-size: 14px;
    text-align: left;
    color: #ffefef;
    position: absolute;
    font-weight: normal;
    text-transform: uppercase; 
    bottom: 0px; 
    background-color: transparent;
 }

  
 .headd{
    position: absolute;
    width: 100vw;
    height: 110px;
    top: 40px;
    left: 0vw;
  
 
 }

 .opis{
    width: 60vw; 
    position: absolute;
    top: 185px;
    left: 20vw;
    background-color: transparent; 
    z-index: 1;
 }  

 .jedan{
    font-family: fontic;
    font-size: 14px;
    color: #ffefef;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    animation: lijevo 1.5s;
    transform: translateX(0px);
 }
 .naslov2{
    width: 100vw; 
    position: absolute;
    top: 39px;
    left: 0vw;
    background-color: #375d71; 
    animation: naslov 1.5s;
    animation-timing-function: cubic-bezier(.66,0,.3,.98);
    height: 0px;
    z-index: 1;
 }  
 .naslov{
    width: 100vw; 
    position: absolute;
    top: -120px;
    left: 0vw;
    background-color: transparent; 
    z-index: -1;
 }  

 .dva{
    font-family: fonticN;
    font-size: 174px;
    color: #ffefef;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    z-index: -1;
 }

 
 .gumb{
    width: 99vw; 
    position: absolute;
    top: -10px;
    left: 0.5vw;
    background-color: transparent; 
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
 }  

 .gumbic{ margin-top: 15px;
    text-align: center;
    font-family: fontic;
    font-size: 14px;
    color: #ffefef;
    font-weight: normal;
    text-transform: uppercase; 
    z-index: 1;
    
 }
 
 a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    
 }

 .link{
    
    font-family: fontic;
    font-size: 14px;
    text-align: left;
    color: #ffefef;
    position: absolute;
    font-weight: normal;
    text-transform: uppercase; 
    bottom: 15px; 
    background-color: transparent; 
    animation: gore 1.5s;
    transform: translateY(0px);
 }

 
 .haver:hover{
    margin-top: 15px;
    color: #ffefef;
    transition: 0.6s;
    background-color: #375d71;
 }
 .haver{
    color: #375d71;
    transition: 0.6s; 
    background-color: #ffefef;
 }