*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 100vw;
    height: 270vh;
}

section:nth-child(1){
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: dodgerblue;
}

section:nth-child(2){
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 90vh;
    left: 0;
    background-color: blue;
}

section:nth-child(3){
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 180vh;
    left: 0;
    background-color: blue;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}
 
h1{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.kvadrat{
    background-color: black;
    width: 25vw;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}








































.kvadrat {
    height: 15vw;
    transition: 0.8s cubic-bezier(0.82, 0, 0.18, 1);
    -webkit-transition: 0.8s cubic-bezier(0.82, 0, 0.18, 1);
}

.scrollani {
    height: 25vw;
    transition: 0.8s cubic-bezier(0.82, 0, 0.18, 1);
    -webkit-transition: 0.8s cubic-bezier(0.82, 0, 0.18, 1);
}
