@font-face {
    font-family: mojFont7;
    src: url(../assets/fontovi/fontB7.ttf);
}

@font-face {
    font-family: mojFont4;
    src: url(../assets/fontovi/fontB5.ttf);
}

@font-face {
    font-family: mojFont9;
    src: url(../assets/fontovi/fontB7.ttf);
}

@font-face {
    font-family: xyz;
    src: url(../assets/fontovi/fontC1.otf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 130vh; 
    font-size: 3vw;
    overflow-x: hidden;
    font-family: mojFont9;
    background-color: black;
}
  
a{
    text-decoration: none;
    color: black;  
}


.linkovi{
    width: 98%;
    margin-left: 1%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

 

.tekst{  
    z-index: 100;
    width: fit-content; 
    padding-left: 1%; 
    position: absolute;
    top: 34%; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

.tekst h1{ 
    font-size: 18.6vw;
    color: black;
    font-family: xyz;
    line-height: 6.5vw;
}
#spen{ 
    font-family: mojFont9; 
    font-size: 7vw;
    color: black;
}
 
 
header{
    width: 70vw;
    height: 100vh;
    position: fixed;
    background-color: #dfc545;
    color: white;
}

#s1, #s2, #s3, #s4{padding-left: 0.5%; padding-top: 0.5%;}

#s2 h3, #s3 h3, #s4 h3, #s4 p{
    padding-left: 1%;
}

#s1{
    background-color: #ecece1;
    color: #000;
    margin-left: 70vw;
    width: 30vw;
    height: 30vh;
}
#s2{
    background-color: #000;
    color: #ecece1;
    margin-left: 70vw;
    width: 30vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
#s4{
    background-color: #ecece1;
    color: #000;
    margin-left: 70vw;
    width: 30vw;
    height: 10vh;
}

#s1 h3, #s2 h3, #s3 h3, #s4 h3{ font-weight: normal; font-size: 3vw;}


span{
    color: black;
}

#s2 .linkovi, #s3 .linkovi{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#s2 .linkovi a, #s3 .linkovi a{ 
    font-family: mojFont4;
    color: white;
    width: fit-content;
    letter-spacing: -0.03vw;
    transition: 0.3s; 
}

#s2 .linkovi a:hover, #s3 .linkovi a:hover{ 
    transition: 0.2s;
    letter-spacing: 0.1vw;
    color: #dfc545;
}

header .linkovi a{
    opacity: 1;
    transition: 0.3s; 
}

header .linkovi a:hover{
    transition: 0.2s;
    color: #ecece1;
    margin-top: 0.2vw;
}
 
#s1 h3{
    transform: translateY(-0.5vw);
}

#s2-socials{
    padding-bottom: 1%;
}


@keyframes anim-header {
    0%{
        opacity: 1;
        transform: translateY(0%);
    }
    30%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes anim-hdr {
    0%{
        opacity: 1;
        transform: translateY(0%);
    }
    40%{
        opacity: 0;
        transform: translateY(40%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes anim-demo {
    0%{
        opacity: 1;
        transform: translateY(0%);
    }
    30%{
        opacity: 0;
        transform: translateY(50%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
 

header{
    animation: anim-hdr 2s cubic-bezier(0.75, 0, 0.25, 1);
}

#header-linkovi-1, #header-linkovi-2, #header-linkovi-3{
    animation: anim-header 2s cubic-bezier(0.75, 0, 0.25, 1) 100ms;
}
.tekst{
    animation: anim-hdr 2s cubic-bezier(0.75, 0, 0.25, 1) 200ms;
} 

#s1{
    animation: anim-header 2s cubic-bezier(0.75, 0, 0.25, 1) 50ms;
}
#s2{
    animation: anim-demo 2s cubic-bezier(0.75, 0, 0.25, 1) 50ms;
} 
#s4{
    animation: anim-header 2s cubic-bezier(0.75, 0, 0.25, 1) 50ms;
} 


.boldani-tekst-bijeli{
    -webkit-text-stroke: 0.05vw #ecece1;
}
.boldani-tekst-crni{
    -webkit-text-stroke: 0.05vw #000;
}

#s4{
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#s4-p{
    font-size: 1.15vw;
}
