@font-face {
    font-family: fontA;
    src: url(../assets/fontovi/font2.ttf);
}

:root{
    --pozadina: #10A19D;
    --naslov: #540375;
    --linkovi: #fff;
    --polje: #FFBF00;
    --haver: #FF7000;
}

p{
    color: var(--linkovi);
}


*{
    margin: 0;
    padding: 0;
    font-family: fontA;
}

body{
    margin: 0; 
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--pozadina);
}



.polje{
    margin: 0; 
    padding: 0;
    background-color: var(--polje);
    position: absolute;
    width: 40vw;
    height: fit-content;
    top: 8vw;
    left: 30vw;
    padding: 1vw;
    outline: solid;
    outline-width: 0.5vw;
    outline-color: var(--naslov);
}

.linkovi{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a{   
    text-decoration: none;
    color: var(--linkovi);
    font-weight: normal; 
    font-size: 1.5vw;
    width: fit-content; 
    transition: 0.2s;  
    padding-top: 1vw;    
}

a:hover{
    transition: 0.2s;
    color: var(--pozadina);
}

h1{ 
    color: var(--naslov);
    font-weight: bold;
    font-size: 3.3vw; 
    line-height: 95%;
    padding-bottom: 2vw;
    text-align: center;
}



header{
    position: absolute;
    width: 98vw;
    left: 1vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top: 1vw;
    color: var(--naslov);
}

footer{
    position: absolute;
    width: 98vw;
    left: 1vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    bottom: 1vw;
    color: var(--naslov);
}

#p-c-header{
    font-weight: bold;
}

#p-c{
    text-align: center; 
} 
#p-l{
    text-align: left;
}
#p-r{
    text-align: right;
}

@media screen and (max-width: 600px) { 
    p { 
        font-size: 3.3vw;
        letter-spacing: -0.3px;
    }

    .polje{
        margin: 0; 
        padding: 0;
        background-color: var(--polje);
        position: absolute;
        width: 80vw;
        height: fit-content;
        top: 15vw;
        left: 10vw;
        padding: 0vw;
        padding-bottom: 6vw;
        outline: solid;
        outline-width: 1.5vw;
        outline-color: var(--naslov);
    }
    
    h1{
        font-size: 11vw;
        padding: 3vw;
        padding-bottom: 7vw;
    }

    .linkovi{
        padding-top: 4vw;
    }

    a{
        padding: 2vw;
        font-size: 5vw;
        padding-top: 3vw;
    }

}
