@font-face {
    font-family: fontA;
    src: url(../assets/fontovi/font1.ttf); 
}

:root{
    --boja-slova: #0f0f0f;
    --boja-podloge: #963b2f;
}

*{
    overflow: hidden;
     
} 
 

body{
    margin: 0;
    padding: 0;
    width: 120vw;
    height: 120vh;
    background-color: rgb(34, 34, 34);
    background-color: var(--boja-slova);
    color: white;
}


 main{
    margin: 10px;
    position: absolute;
    width: 70vw;
    height: calc(100vh - 20px);
    top: 0;
    left: calc(15vw - 10px);
    background-color: var(--boja-podloge);
 }

 @media screen and (max-width: 800px) {
    main{
        margin: 10px;
        position: absolute;
        width: 70vw;
        height: calc(100vh - 20px);
        top: 0;
        left: calc(0px);
        background-color: var(--boja-podloge);
     }

    

 }

 .galerija{
    width: 44%;
    margin-left: 28%;
    padding-top: calc(50vh - 10px);
    height: calc(100vh - 50vh - 20px);
    background-color: #00fa;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
@media screen and (max-width: 800px) {
    .galerija{ 
        width: 90%;
        margin-left: 5%;
        padding-top: calc(45vh - 10px);
        height: calc(100vh - 50vh - 20px);
        background-color: #00fa;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
  }
 

.div-malaSlika{
    object-fit: contain;
    width: calc((11vw - 10px)/2.3); 
    height: calc(((11vw - 10px)/2.3)*1.48); 
    transition: 0.3s; 
}

@media screen and (max-width: 800px) {
    .div-malaSlika{ 
        width: calc((26vw - 10px)/2.3); 
        height: calc(((21vw - 10px)/2.3)*1.48); 
        transition: 0.3s; 
    }
  }


.malaSlika{
    width: calc((11vw - 10px)/2.3); 
    height: calc(((11vw - 10px)/2.3)*1.48); 
    transition: 0.3s; 
}

@media screen and (max-width: 800px) {
    .malaSlika{ 
        width: calc((26vw - 10px)/2.3); 
        height: calc(((21vw - 10px)/2.3)*1.48); 
        transition: 0.3s; 
    }
  }

.malaSlika:hover{
    cursor: pointer; 
    transform: scale(120%);
    transition: .3s;
}
 

#v1{
    position: absolute;
    object-fit: cover; 
    width: calc(15vw - 20px); 
    height: calc(50vh - 15px); 
    top: 10px;
    left: 10px;
}

#v2{
    position: absolute;
    object-fit: cover;
    width: calc(15vw - 20px); 
    height: calc(50vh - 15px);
    top: 10px;
    right: 10px;
}


 


#v3{
    position: absolute;
    object-fit: cover; 
    width: calc(15vw - 20px); 
    height: calc(50vh - 15px); 
    bottom: 10px;
    left: 10px;
}

#v4{
    position: absolute;
    object-fit: cover;
    width: calc(15vw - 20px); 
    height: calc(50vh - 15px);
    bottom: 10px;
    right: 10px;
}

@media screen and (max-width: 800px) {
    #v1, #v3{width: 0; height: 0; opacity: 0;
    }

    #v4{
        position: absolute;
        object-fit: cover;
        width: calc(24vw); 
        height: calc(50vh - 15px);
        bottom: 10px;
        right: 10px;
    }

    #v2{
        position: absolute;
        object-fit: cover;
        width: calc(24vw); 
        height: calc(50vh - 15px);
        top: 10px;
        right: 10px;
    }
  }

p{ 
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    color: rgb(34, 34, 34);
    color: var(--boja-slova);
    font-family: fontA;
    font-size: 14px;
    font-size: 0.95vw;
}

.opis{
    margin: 0;
    padding: 0;
}
.fleks{
    margin: 0;
    padding: 0; 
    background-color: transparent;
    width: fit-content;
    height: calc((((11vw - 10px)/2.3)*1.48) + 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width: 800px) {
    .fleks{ 
        height: calc((((11vw - 10px)/2.3)*1.48) + 55px); 
    }
  }

a{
    font-family: fontA; 
    text-decoration: none; 
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: black;
    color: rgb(34, 34, 34);
    color: var(--boja-slova);
    font-weight: bold;
    font-size: 14px;
    font-size: 0.95vw;

}

@media screen and (max-width: 800px) {
    a{ 
        text-decoration: none; 
        font-weight: bold;
        margin-top: -3px;
        font-size: calc(2.8vw - 0px);
    }
  }



h3{
    font-family: fontA; 
    color: black;
    color: rgb(34, 34, 34);
    color: var(--boja-slova);
    font-weight: normal;
    font-size: 14px;
    font-size: 0.95vw;
}
@media screen and (max-width: 800px) {
    h3{ 
        margin-top: 10px;
        font-size: calc(2.8vw - 0px);
    }
  }


.navbar{
    position: absolute;
    width: 100%;
    background-color: #00f8;
    background-color: transparent;
    display: grid;   
    grid-template-columns: repeat(3, 1fr);
}

@keyframes navbar-anim {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
#navbar-1{
    grid-column: 1 / 2;
    background-color: #f00;
    background-color: transparent;
    padding-left: 20px;
    animation: navbar-anim 1.3s cubic-bezier(0.8, 0, 0.2, 1) 450ms; 
    
}
#navbar-2{
    grid-column: 2 / 3;
    background-color: #1f1;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: navbar-anim 1.3s cubic-bezier(0.8, 0, 0.2, 1) 500ms; 
}
#navbar-3{
    grid-column: 3 / 4;
    background-color: #2ff;
    background-color: transparent;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    animation: navbar-anim 1.3s cubic-bezier(0.8, 0, 0.2, 1) 550ms; 
}

@keyframes naslov-anim {
    
    0%{
        transform: scaleY(100%);
        opacity: 1;
        letter-spacing: -5px;
    }
    30%{
        transform: scaleY(60%);
        opacity: 0;
        letter-spacing: -25px;
    }
    35%{
        transform: scaleY(0%);
        opacity: 0;
        letter-spacing: -77px;
    }
    40%{
        transform: scaleY(60%);
        opacity: 0;
        letter-spacing: -25px;
    }
    100%{
        transform: scaleY(100%);
        opacity: 1;
        letter-spacing: -5px;
    }
    
}
  
#naslov{
    color: black;
    color: rgb(34, 34, 34);
    color: var(--boja-slova);
    font-family: fontA;
    font-size: 195.0px;
    font-size: 12vw;
    font-weight: bold;
    background-color: #2ff3;
    background-color: transparent;
    position: absolute;
    width: 70vw;
    height: fit-content;
    top: -7vw;
    left: 0;
    text-align: center; 
    animation: naslov-anim 1.8s cubic-bezier(0.8, 0, 0.2, 1);
    transform: scaleY(100%); 
    letter-spacing: -5px;
}

@media screen and (max-width: 800px) {
    #naslov{
        font-size: 13.5vw;
        top: 3vw;
        letter-spacing: -3px;
    }
  }
 
 

 
 

.fleks-dole{
    position: absolute;
    width: 70%;
    left: 15%;
    bottom: 10px; 
    background-color: transparent;
    display: grid;   
    gap: 40px;
    grid-template-columns: repeat(15, 1fr);
}

@media screen and (max-width: 800px) {
    .fleks-dole{
        position: absolute;
        width: 70%;
        left: 0px; 
        bottom: 10px; 
        background-color: transparent;
        display: grid;   
        gap: 40px;
        grid-template-columns: repeat(15, 1fr);
    }
  }
 
 
.odjava{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end; 
}

.odjavni{
    text-align: left;
}
.odjavni2{
    text-align: right;
}

#od1{ 
    margin-left: 20px;
    background-color: #0f0a;
    background-color: transparent;
}
#od2{ 
    background-color: transparent; 
    transition: 0.3s;
}
#od3{  
    background-color: transparent; 
    transition: 0.3s;
}

#od2:hover, #od3:hover{
    transition: 0.3s;
    letter-spacing: -0.5px;
}


@media screen and (max-width: 800px) {
    p{
        font-size: 14px; 
        font-size: 2vw;
    }
  }

@keyframes fleks-dole-anim {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
#fleks-dole-1{
    grid-column: 1/3; 
    animation: fleks-dole-anim 1.3s cubic-bezier(0.8, 0, 0.2, 1) 350ms; 
}
#fleks-dole-2{
    grid-column: 3/8; 
    animation: fleks-dole-anim 1.3s cubic-bezier(0.8, 0, 0.2, 1) 450ms; 
}
#fleks-dole-3{
    grid-column: 8/13; 
    animation: fleks-dole-anim 1.3s cubic-bezier(0.8, 0, 0.2, 1) 550ms; 
}
#fleks-dole-4{
    grid-column: 14/16;  
    animation: fleks-dole-anim 1.3s cubic-bezier(0.8, 0, 0.2, 1) 650ms; 
}

@media screen and (max-width: 800px) {
    #fleks-dole-2{ 
        grid-column: 3/6; 
    }

    #fleks-dole-3{ 
        grid-column: 6/10; 
    }
  }

#od4{  
    align-items: right;
    margin-right: 20px;
}

.hesh{text-align: left;}
@media screen and (max-width: 800px) {
    .hesh{ 
        font-size: 10px;
    }
  }

#tel-broj{
    font-size: 13px;
    font-size: calc(0.95vw - 2px);
}

@media screen and (max-width: 800px) {
    #tel-broj{ 
        text-decoration: none;
        margin-top: 10px;
        font-size: calc(2.8vw - 0.5px);
    }
  }
 
 



@keyframes s-anim {
    0%{
        opacity: 1;
        transform: translateY(0px);
    }
    30%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
 

.se1{
    animation: s-anim 2s cubic-bezier(0.8, 0, 0.2, 1) 50ms; 
}
.se2{
    animation: s-anim 2s cubic-bezier(0.8, 0, 0.2, 1) 100ms; 
}
.se3{
    animation: s-anim 2s cubic-bezier(0.8, 0, 0.2, 1) 150ms; 
}
.se4{
    animation: s-anim 2s cubic-bezier(0.8, 0, 0.2, 1) 200ms; 
}
.se5{
    animation: s-anim 2s cubic-bezier(0.8, 0, 0.2, 1) 250ms; 
}

#goback{
    background-color: #2ff; 
    background-color: var(--boja-podloge);
    color: var(--boja-slova);  
    transform: scale(100%);  
    transition: 0.3s;
} 
 
#goback:hover{    
    background-color: #2ff; 
    background-color: var(--boja-podloge);
    color: #bababa;  
    transform: scale(100%);  
    letter-spacing: 0.1vw;
    transition: 0.3s;
} 
